.exercise-information {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width:576px) {
    .exercise-information {
        grid-template-columns: 1fr;
    }

    .exercise-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .list-title {
        text-align: center;
    }
}